---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import '../styles/global.css';




import { getCollection } from 'astro:content';
const allProjects = await getCollection('projects')

---
<Layout title="Projects">
    <Nav />
    <section class="projects-intro">
        <h3>Acá van a ir los proyectos</h3>
    </section>
    <section>
        <div class="projects">
            {allProjects.map((project) => (
                <a href={`/projects/${project.slug}`} class="project-card">
                    <div class="card-image">
                        <img src={project.data.image} alt={project.data.image} />
                    </div>
                    <div class="project-content">
                        <span>{project.data.tag}</span>
                        <h2>{project.data.title}</h2>
                        <p>{project.data.summary}</p>
                    </div>
                </a>
            ))}
        </div>
    </section>
    <Footer />
</Layout>

<style>
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
        gap: 2rem;
    }

    .project-card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        height: 40vh;
        text-decoration: none;
        color: inherit;
        border: 1px solid #eee;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    @media (hover:hover){
        .project-card:hover {
            transform: translateY(-10px);
        }
    }

    .card-image {
        height: 100%;
    }

    .card-image img {
        width: 200px;
        height: 100%;
        object-fit: cover;
    }

    .project-content {
        width: 100%;
        padding: 2rem 2rem 2rem 0rem;
    }

    .projects-intro {
        /* height: 100vh; */
    }
    
    h3 {
        font-weight: 300;
        text-align: center;
        margin-top: 4rem;
    }
</style>