---
import '../styles/global.css';

const response = await fetch("https://docs.google.com/spreadsheets/d/e/2PACX-1vS0RcSqNrtz0tgRAK0Qv3HxxVN3MhdJXvf14sXoJYceTef987fXhwmZWGiG49khJvxhbLMWgmQUNHbS/pub?output=csv");
const text = await response.text();
const rows = text.split("\n").map(r => r.split(","));

interface ImageModule {
    default: string;
}
const images = import.meta.glob<ImageModule>('../src/assets/img/*.{jpeg,jpg,png,gif,svg}', { 
    eager: true 
});

const projects = rows.slice(1).map(([imgName, title, description, link, badge, category]) => {
    const imgPath = `/src/assets/img/${imgName.trim()}`;
    const imgAssets = images[imgPath];

    return {
        img: imgAssets ? imgAssets.default : imgName,
        title, description, link, badge, category
    };
});
---

<div class="cards">
    {projects.map(project => (
        <div class="card">
            <a href={project.link} target="_blank">
                <img src={project.img} alt={project.title} />
                <div class="info">
                    <p class="category">{project.category}</p>
                    <h2>{project.title}</h2>
                    <p class="badge">{project.badge}</p>
                    <p>{project.description}</p>
                </div>
            </a>
        </div>
    ))}
</div>

<style>
    div {
        width: 200px;
        height: auto;
        padding: 0;
        border-radius: 8px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .info {
        padding: 1rem;
        width: fit-content;
    }

    .info h2 {
        line-height: 100%;
    }

    .info .category {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #888;
        margin: 0;
    }
    
    .info .badge {
        font-size: 0.75rem;
        font-weight: 500;
        color: #555;
        margin: 0.25rem 0;
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: auto;
        gap: 3rem 1rem;
        justify-content: center;
        margin: 2rem 4rem;
    }

    .card {
        transition: all 0.3s ease;
    }

    
    div.card:hover {
        transform: translateY(-4px);
        background-color: #ccc;
    }
    div.card:hover h2,
    div.card:hover p {
        color: #363636;
    }
</style>